// primary color
$Soft-orange: #e9ab53;
$Soft-red: #f15e50;
// secondary color
$Off-white: #fffdfa;
$Grayish-blue: #c5c6ce;
$Dark-grayish-blue: #5d5f79;
$Very-dark-blue: #00001a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    @include flex;
    height: 100vh;

    // side menu
    #menu {
        display: none;
        font-family: 'Inter', sans-serif;
    }

    #container {
        height: 85vh;
        width: 75vw;

        header {
            nav {
                ul {
                    font-family: 'Inter', sans-serif;
                    @include flex;
                    margin-bottom: 15px;

                    li:not(first-child) {
                        list-style: none;
                        margin: 0 2%;

                        a {
                            text-decoration: none;
                            color: $Dark-grayish-blue;
                            font-size: 13px;
                            transition: color 0.1s ease-in-out;
                        }

                        a:hover {
                            color: $Soft-red;
                        }
                    }

                    li:first-child {
                        margin-right: 53%;

                    }

                    li:last-child {
                        display: none;
                    }
                }
            }
        }

        main {
            height: 78vh;
            font-family: 'Inter', sans-serif;

            #top {
                height: 70%;
                width: 100%;
                @include flex;
                margin-bottom: 20px;

                .left {
                    flex: 50%;
                    height: 100%;
                    margin-right: 2%;

                    .image {
                        height: 60%;
                    }

                    .content {
                        @include flex;

                        .bright {
                            margin-right: 10%;
                            @include flex;

                            h1 {
                                font-size: 40px;
                                color: $Very-dark-blue;
                            }
                        }

                        .promise {
                            font-size: 15px;
                            color: $Dark-grayish-blue;
                            line-height: 20px;

                            button {
                                border: none;
                                outline: none;
                                height: 30px;
                                width: 120px;
                                margin-top: 30px;
                                background-color: $Soft-red;
                                color: $Off-white;
                                font-size: 13px;
                                letter-spacing: 2px;
                                cursor: pointer;
                                transition: background-color 0.1s ease-in-out;
                            }

                            button:hover {
                                background-color: $Very-dark-blue;
                            }
                        }

                    }
                }

                .right {
                    flex: 15%;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    background-color: $Very-dark-blue;
                    color: $Off-white;
                    padding: 0 2%;

                    #title {
                        font-size: 38px;
                        color: $Soft-orange;
                    }

                    hr {
                        width: 100%;
                    }


                    div {
                        width: 100%;
                        height: 100%;
                        @include flex;
                        align-items: flex-start;
                        flex-direction: column;
                        color: $Grayish-blue;

                        h2 {
                            color: $Off-white;
                            font-weight: lighter;
                            padding-bottom: 7px;
                            cursor: pointer;
                            transition: color 0.1s ease-in-out;
                            font-weight: 400;
                        }

                        h2:hover {
                            color: $Soft-orange;
                        }
                    }
                }
            }

            #bottom {
                height: 32%;
                @include flex;
                margin-left: -35px;

                div {
                    width: 100%;
                    height: 70%;
                    margin: 4px;
                    @include flex;

                    .pics {
                        margin-right: -5%;
                    }

                    .write-up {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        color: $Dark-grayish-blue;
                        line-height: 15px;


                        .num {
                            font-size: 30px;
                            color: $Grayish-blue;
                            font-weight: bold;
                            justify-content: flex-start;

                        }

                        .action {
                            color: $Very-dark-blue;
                            font-size: 15px;
                            font-weight: bolder;
                            justify-content: flex-start;
                            cursor: pointer;
                            transition: color 0.1s ease-in-out;
                        }

                        .action:hover {
                            color: $Soft-red;
                        }
                    }
                }
            }
        }
    }
}

// tablet
@media screen and(max-width:1160px) {
    #container {
        header {
            nav {
                ul {

                    li:first-child {
                        margin-right: 45% !important;

                    }
                }
            }
        }

        main {
            #top {
                .content {
                    .bright {
                        h1 {
                            font-size: 35px !important;
                        }
                    }

                    .promise {
                        button {
                            margin-top: 40px !important;
                        }
                    }

                }
            }
        }
    }
}

// mobile
@media screen and(max-width:800px) {
    body {
        height: 110vh;

        // side-menu
        #menu {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -70vw;
            height: 100vh;
            width: 70vw;
            background-color: $Off-white;
            transition: left 0.2s ease-in-out;

            ul {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                li {
                    list-style: none;
                    margin: 20px 0 20px 10%;

                    a {
                        text-decoration: none;
                        color: $Very-dark-blue;
                        font-size: 15px;
                        font-weight: bold;
                        transition: color 0.1s ease-in-out;
                    }

                    a:hover {
                        color: $Soft-red;
                    }
                }

                li:first-child {
                    margin: 30px 0 50px 80%;
                    cursor: pointer;
                }
            }
        }

        #container {
            height: 100vh;
            width: 90%;

            header {
                nav {
                    ul {
                        margin-bottom: 20px !important;

                        li:not(first-child) {
                            display: none;
                        }

                        li:first-child {
                            display: block;
                            margin-right: 80% !important;
                        }

                        li:last-child {
                            display: block !important;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        main {
            height: 230vh !important;

            #top {
                flex-direction: column;

                .left {
                    flex: 60% !important;
                    height: 100%;
                    margin-right: 2%;

                    .image {
                        height: 50%;
                    }

                    .content {
                        @include flex;
                        flex-direction: column;

                        .bright {

                            h1 {
                                font-size: 30px;
                            }
                        }

                        button {
                            height: 32px !important;
                            width: 140px !important;
                        }
                    }
                }

                .right {
                    flex: 40% !important;
                    padding: 0 7% !important;
                    margin-top: 80px;

                    #title {
                        font-size: 35px !important;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }

        #bottom {
            @include flex;
            flex-direction: column;
            margin-left: -10% !important;
            margin-top: 70px;
        }
    }
}

@media screen and(max-width:644px) {
    body {
        #container {
            header {
                nav {
                    ul {

                        li:first-child {
                            margin-right: 65% !important;
                        }
                    }
                }
            }
        }
    }
}
